<article>
<h2>About Me</h1>
  <p>I am a creative, self-directed, and solutions-oriented front-end developer with solid experience in HTML/CSS, CraftCMS, e-commerce user-flows, and JavaScript. As a front-end developer I enjoy working closely with marketing, creative and content teams to ensure that projects are built to scope and compelted in a timely manner.</p>


<p>For the last year and a half I have been helping redevelop MacSales.com. I have helped with html/css and javascript developments as well as integrating CraftCMS with our front-end templates. Check out some of our new sections:</p>
<ul>
  <li><a href="https://eshop.macsales.com/shop/ssd/owc">Solid State Drives</a></li>
  <li><a href="https://eshop.macsales.com/shop/Thunderbolt/">Thunderbolt</a></li>
  <li><a href="https://eshop.macsales.com/shop/Apple/Laptop/Batteries">Bateries</a></li>
  <li><a href="https://eshop.macsales.com/shop/docks/owc-thunderbolt-3-dock">Sample Product Lander</a></li>
</ul>

<p>Prior to the MacSales.com redesign project I had migrated <a href="https://www.owcdigital.com">OWCDigital.com</a> from a static HTML site to one powered by a CMS. This was the test</p>





  <p>Currnetly I am enjoying learning the ins and outs of working with an API to help power the Used Macs section for <a href="https://eshop.macsales.com/shop/Apple_Systems/Used/Macs_and_Tablets">MacSales.com</a>. </p>
</article>


