<aside>
  <h4>Developer</h4>
  <p>
    Well versed in current front-end technologies and trends. I am passionate about writing maintable code. 
  </p>
  <h4>Designer / UX </h4>
  <p>
    I enjoy working designers and UX teams to ensure their visions are correctly represented. 
  </p>
  <h4>Content Management</h4>
  <p>
    I am not a content strategist, but I am one at heart thanks to years of working with CraftCMS and ExpressionEngine. Your CMS should adapt to your content, not restrict it. 
  </p>
</aside>
