<footer>
  <section>
    <article>
      <h4>Recently listened&nbsp;to:</h4>
      <ul>
        
      </ul>
    </article>
    <article>
      <h4>My Local Weather</h4>
      <ul>
        <li>My Local Weather</li>
      </ul>
    </article>
    <nav role="navigation">
      <h4>role="navigation"</h4>
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Work</a></li>
        <li><a href="">Resume</a></li>
        <li><a href="mailto:email.john.hoysa@gmail.com"?subject=Inquiery from site">Email</a> </li>
      </ul>
    </nav>
  </section>
</footer>
