<footer>
  <section>
    <article>
      <h4>Recently listened&nbsp;to:</h4>
      <ul>
      </ul>
    </article>
    <article>
      <h4>My Local Weather</h4>
      <ul>
        <li>My Local Weather</li>
      </ul>
    </article>
    <nav role="navigation">
      <h4>role="navigation"</h4>
      <ul>
        {{>nav}}
        <li>
        <a href="mailto:johnhoysa@gmail.com?subject=Email from johnhoysa.com">Email Me</a> </li>
      </ul>
    </nav>
  </section>
</footer>
