<header>
  <nav role="navigation">
    <ul>
      {{>nav}}
    </ul>
  </nav>
  <section>
    <img
      src="../../assets/images/profile-picture.png"
      alt="John Hoysa"
      height=""
      width=""
    />
    <article>
      <h1>John Hoysa</h1>
      <p>
        Highly creative and versatile front-end developer with extensive
        experience in HTML/CSS, graphic design, and content management tools. I
        even know my way around Javascript and jQuery.
      </p>
    </article>
  </section>
</header>
