@mixin container($top: 0, $bottom: 0) {
  max-width: 1152px;
  padding: 0 32px;
  width: 100%;
  position: relative;
  margin: $top auto $bottom auto;
  box-sizing: border-box;

  // @media (min-width: 576px) {
  //   max-width: 576px;
  // }

  // @media (min-width: 768px) {
  //   max-width: 768px;
  // }

  // @media (min-width: 990px) {
  //   max-width: 990px;
  // }

  @media (min-width: 1200px) {
    max-width: 1152px;
  }
}
