main {
  @include container();
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 48px;
}

aside {
  grid-column: span 4;
  padding-top: 14px;
}
aside h4 {
  font-size: 24px;
  padding-bottom: 4px;
  border-bottom: 1px solid $color-highlight;
}

aside p {
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 140%;
}

article {
  grid-column: span 8;
}

article h2 {
  margin-bottom: 8px;
  font-size: 40px;
}

article p,
article ul,
article li {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 16px;
}

article li {
  margin-bottom: 0;
}

article a {
  color: $color-highlight;
}
article a:hover {
  color: $color-dark;
}

@media (max-width: 744px) {
  main {
    display: block;
  }

  aside h4 {
    font-size: 21px;
    padding-bottom: 4px;
    border-bottom: 1px solid $color-highlight;
  }

  aside p {
    font-size: 16px;
  }
  article {
    margin-top: 40px;
  }
}
