header {
  position: relative;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 1px,
    rgba(32, 44, 57, 0.1) 2px,
    rgba(255, 255, 255, 0.1) 2px
  );
}
header:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  z-index: -1;
  background: repeating-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 1px,
    rgba(999, 99, 99, 0.1) 1px,
    rgba(255, 255, 255, 0.1) 2px
  );
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $color-dark;
  font-size: 21px;
}

header nav ul li {
  display: flex;
  width: 248px;
  height: 64px;
  border-left: 2px solid $color-light;
  text-align: right;
}

header nav ul li:first-of-type {
  background-color: $color-highlight;
}
header nav ul li a {
  width: 100%;
  height: 48px;
  padding: 8px;
  color: #fff;
  font-family: "PT Sans", sans-serif;
}
header nav ul li a:hover {
  background-color: lighten($color-dark, 20%);
}

@media (max-width: 744px) {
  header nav ul {
    width: 100%;
  }
  header nav ul li {
    width: 33%;
  }
  header nav ul li:first-of-type {
    border: none;
  }
}

//Profile Image and content
header section {
  @include container();
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

header section img {
  width: 248px;
  margin-right: 32px;
}

header section article h1 {
  font-size: 48px;
}

header section article p {
  font-size: 28px;
  line-height: 140%;
}

header section article ul {
  display: flex;
}
header section article li {
  margin-right: 24px;
}
header section article svg {
  width: 48px;
  height: 48x;
  margin: 0;
  padding: 0;
}
header section article svg:hover {
  opacity: 0.5;
}
@media (max-width: 744px) {
  header section {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  header section img {
    display: block;
    width: 224px;
    margin: 0 auto;
  }
  header section article {
    display: block;
    width: 100%;
    margin-top: 0px;
    text-align: center;
  }
  header section article h1 {
    font-size: 32px;
  }

  header section article p {
    margin-top: 8px;
    font-size: 21px;
  }
}
